---
import Generation from '@components/Generation.astro';
import Layout from '@layouts/Layout.astro';

// Api
import type { Generations } from '@api/interfaces/Generations';
import getGenerations from '@api/getInfo';

const { count } = (await getGenerations<Generations>(
	'https://pokeapi.co/api/v2/generation'
)) || { count: 1 };
---

<Layout title='Home' Class='overflow-hidden'>
	<main
		class='overflow-y-scroll snap-y snap-mandatory h-screen w-screen scrollbar-none'
	>
		{
			[...Array(count)].map((_, i) => (
				<Generation generationNumber={i + 1} />
			))
		}
	</main>
</Layout>
