---
import Generation from '../components/Generation.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home' Class=''>
	<!-- <header class='w-screen text-center text-3xl bg-slate-400 p-5'>
		<h1>PokeWeb</h1>
	</header> -->
	<main class=''>
		{[...Array(9)].map(() => <Generation />)}
	</main>
</Layout>
